<div class="container">
  <div class="row error">
    {{error}}
  </div>
  <div class="row p-lg-5">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1>Login</h1></div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group p-lg-2">
      <label for="email">Email:</label>
      <input id="email" class="form-control" type="text" formControlName="login" placeholder="user name" required
             minlength="4">
    </div>
    <div class="form-group p-lg-2">
      <label for="password">Password:</label>
      <input type="password" class="form-control" placeholder="password" id="password" formControlName="password"
             required minlength="4">
    </div>
    <div class="form-group p-lg-2">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!profileForm.valid">Connect</button>
  </form>
  <div class="row p-5">
    <div class="col-md-12">
      <p>Don't have an account? <a href="register">Creat Your Account</a></p>
    </div>
  </div>
</div>

