<div class="container">
  <nav class="navbar-fixed-top" style="width: 80%;margin-left: 10%;">
  <div class="container-fluid bg-info form-inline"  style="margin-top: 80px">
    <button class="btn-primary" (click)="getProducts()" style="padding: 10px;margin: 5px;cursor: pointer">All products
    </button>
    <button type="button" (click)="clearDefaultRest()" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModal">Add new rest
    </button>
    <input type="search" class="search-input" [(ngModel)]="product_filter" (keyup)="filtersProducts()"
           placeholder="Filter" aria-label="Search"/>
  </div>
  </nav>
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">

          <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <div class="form-group p-lg-2">
              <label for="restaurant_name">restaurant name:</label>
              <input id="restaurant_name" class="form-control" value="{{default_products.restaurant_name}}" type="text"
                     formControlName="restaurant_name" placeholder="restaurant name" required minlength="4">
            </div>
            <div class="form-group p-lg-2">
              <label for="cuisine">cuisine:</label>
              <input id="cuisine" class="form-control" value="{{default_products.cuisine}}" type="text"
                     formControlName="cuisine" placeholder="cuisine" required minlength="4">
            </div>
            <div class="form-group p-lg-2">
              <label for="borough">borough:</label>
              <input id="borough" class="form-control" value="{{default_products.borough}}" type="text"
                     formControlName="borough" placeholder="borough" required minlength="4">
            </div>
            <div class="form-group p-lg-2">
              <label for="address_building">address:</label>
              <input type="text" class="form-control" value="{{default_products.address.building}}"
                     placeholder="address building" id="address_building" formControlName="address_building"
              >

              <input type="text" class="form-control" value="{{default_products.address.street}}"
                     placeholder="address street" id="address_street" formControlName="address_street"
              >

              <input type="text" class="form-control" value="{{default_products.address.postcode}}"
                     placeholder="address postcode" id="address_postcode" formControlName="address_postcode"
              >
            </div>
            <button type="submit" class="btn btn-default">save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        </div>

      </div>

    </div>
  </div>


  <table class="table product-table table-hover"
         infinite-scroll
         [infiniteScrollDistance]="2"
         [infiniteScrollUpDistance]="20"
         [infiniteScrollThrottle]="10"
         (scrolled)="onScrollDown($event)"
         (scrolledUp)="onScrollUp($event)"
         style="margin-top: 150px"
  >
    <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Cuisine</th>
      <th>Borough</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td>{{p.restaurant_name}}</td>
      <td>{{p.cuisine}}</td>
      <td>{{p.borough}}</td>
      <td>{{p.address.building}} {{p.address.street}} {{p.address.postcode}}</td>
      <td>
        <button class="btn btn-danger btn-lg" (click)="remove_product(p)">
          remove
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                (click)="update_product(p)">Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
