<div class="container">
    <div class="container-fluid bg-info form-inline">
      <button class="btn-primary" (click)="getProducts()" style="padding: 10px;margin: 5px;cursor: pointer">All products</button>
      <input type="search" class="search-input"  [(ngModel)]="product_filter" (keyup)="filtersProducts()" placeholder="Filter" aria-label="Search"/>
    </div>


  <table class="table table-striped product-table">
    <thead>
    <tr>
      <th>userid</th>
      <th>id</th>
      <th>title</th>
      <th>completed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td>{{p.userId}}</td>
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.completed}}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="remove_product(p)">
          remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
